<h1>Add user</h1>
<form action="" method="post">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<input type="text" name="type" placeholder="type">
<button type="submit">Add user</button>
</form>